<div class="well bs-component">
    <form class="form-horizontal" data-ng-submit="submitQuestionForm()">
        <fieldset>
            <legend>Please choose spread, type your question and click on
                &laquo;Cast Stones&raquo; button.</legend>
        </fieldset>
        <div class="form-group">
            <label for="spreadName" class="col-lg-2 control-label">Spread name</label>
            <div class="col-lg-10">
                <select required="required"  class="form-control" id="spreadName" name="spreadName" data-ng-model="spreadName" data-ng-options="s.spread_name for s in spreads">
                    <option value="" style="display: none"> -- choose spread -- </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="question" class="col-lg-2 control-label">Your question</label>
            <div class="col-lg-10">
                <textarea data-ng-model="question" required="required" class="form-control" rows="3" id="question"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">&laquo;Cast Stones&raquo;</button>
            </div>
        </div>
    </form>
</div>
<div class="jumbotron" data-ng-if="spreadName">
    <h4>{{spreadName.spred_description}}</h4>
</div>